<%- include("partials/header.ejs"); -%>
<h1>About Me</h1>
<p style="margin-top: 12px;"><%= aboutContent %></p>
<ul>
    <li>Email:<a target="_blank" href="mailto:emoges54@gmail.com">emoges54@gmail.com</a></li>
    <li style="margin-top: 12px;">Github: <a target="_blank" href="https://github.com/elias0019">Elias Moges</a></li>
    
</ul>
<%- include("partials/footer.ejs"); -%>